<!doctype html>
<html lang="en">
    <head>
        <%- include('components/head.ejs'); -%>
        <style>
        .receipt{
            border:4px solid #A6E1FA;
          color: #000000;
          font-size:14px;
          background: rgb(43, 127, 236);
          background: rgba(27, 152, 235, 0);
            margin-left: auto;
            margin-right: auto;
          width: 40%;
          padding: 40px;
        }
        .footer{
            bottom: 0;
        }
    </style>        
        <title>Covaccine Scheduler</title>
    </head>
    <body style="text-align: center;">
      <%- include('components/header.ejs'); -%>

      <h1>Hey! <%= postBody.firstname %> <%= postBody.lastname %> (<%= postBody.email %>) Thanks for submit this form we will contact you soon</h1>
      <img src="/img/source.gif" height="50px" width="20%" alt="Accepted" />
      <div class="receipt">
          Appointment No. : Random <br>
          Applicant Name : <%= postBody.firstname %> <%= postBody.lastname %> <br>
          Registration Date : <p>
                                <script> document.write(new Date().toLocaleDateString()); </script>
                            </p> <br>
        Contact No. :   <%= postBody.number %> <br>
        Aadhar No. :   <%= postBody.aadhar %> <br>

        Further appointment details will be shared with you on your registered email and phone. <br>
        </div>
        <div class="footer">
        <%- include('components/footer.ejs'); -%>
        </div>
        <!--JavaScript - Bootstrap Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    </body>
</html>
